{% extends 'base.html' %}

{% block content %}

<div class="row height-full">

    <div class="d-flex mt-5">


        <!-- user info section -->
        <!-- <div class="" style="flex:1; background-color: #b6c4e9;"> -->
        <div class="" style="flex:1;">

            <h1>Hello, {{request.user}}!</h1>

            <!-- todo: show password change error messages here? -->


        </div>

        <!-- change password section -->
        <div class="" style="flex:1;">

            <!-- <div class="p-4" style="background-color: #929292;"> -->
            <div class="p-4">


                <h3>Change your password</h3>

                <form>
                    <!-- todo: add csrf token -->

                    <div class="mb-2">
                        <label for="old_password" class="form-label">Old Password</label>
                        <input type="password" class="form-control" id="old_password"
                               placeholder="Old Password">
                    </div>

                    <div class="mb-2">
                        <label for="password" class="form-label">Newe Password</label>
                        <input type="password" class="form-control" id="password" placeholder="New Password">
                    </div>

                    <div class="mb-2">
                        <label for="password2" class="form-label">Password Again</label>
                        <input type="password" class="form-control" id="password2" placeholder="Password Again">
                    </div>

                    <!-- todo: show error messages here -->

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary w-100">Change Password</button>
                    </div>

                </form>

            </div>

        </div>


    </div>


</div>

{% endblock %}